.container {
    justify-content: center;
    text-align: center;
}

.title {
    text-align: center;
}

.td {
    display: flex;
    flex-wrap: nowrap;
}

.table {
    margin: auto;
}

.mainTitle {
    margin-top: 3rem;
    padding: 1rem;
}